.navabr-section {
  background-color: #f5f1ee;
}
.btn-green {
  background-color: #799779;
  color: white;
}
.nav-logo {
  height: 50px;
  width: auto;
}
.hero-section {
  background-image: url("./../img/hero-img.png");
  background-size: cover;
  background-position: center;
  height: 45vh;
}
.hero-section {
  position: relative;
  background-image: url("./../img/hero-img.png");
  background-size: cover;
  background-position: center;
  height: 57vh;
  overflow: hidden;
}

.hero-section-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #799779;
  color: white;
  border: none;
}
.hero-section-button:hover {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #799779;
  color: white;
  border: none;
}
.hero-img-text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
}
.main-card-section {
  margin-top: -33px;
}
.wholesale-text {
  color: #799779;
}
.card-title-explore {
  color: #799779;
}
.explore-kgs-txt {
  color: #ecc1a1;
  font-size: 14px;
}
.price-text {
  font-weight: 600;
  font-size: 18px;
}
.ordernow-btn {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #141e15;
}

.card-readmore-text {
  color: #799779;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2px;
}
.navbar-nav .nav-item {
  margin-right: 3rem;
}
.main-card-section .shadow {
  border-radius: 1rem;
}
.explore {
  margin-top: 5rem;
}
.how-its-work {
  margin-top: 4rem;
}
.howItsWorkBg {
  margin-top: 4rem;
  /* background-image: url('../img/how-it-work.png'); */
}
.how-its-work .row h4 {
  font-size: 34px;
  font-weight: 600;
}
.how-its-work .row h4 span {
  color: #799779;
  font-size: 34px;
  font-weight: 600;
}
.howItsWorkBg .card h4 {
  color: #799779;
  font-size: 18px;
  font-weight: 600;
}
.join-telegram {
  background-image: url("../img/bd_group.png");
  background-repeat: no-repeat;
  background-size: 100% 88%;
  margin-top: 5rem;
}
.stylish-man {
  position: relative;
  top: -63px;
}
.telegram-channel {
  padding: 10rem;
}
.telegram-channel h4,
.telegram-channel p {
  color: #f5f1ee;
}
.telegram-channel h4 span {
  color: #799779;
}
/* .step1-img {
  margin-left: 12%;
  align-self: center;
  margin-top: 4%;
  width: 80%;
  margin-left: 40%;
  height: 80%;
  object-fit: contain;
}*/
.card-steps1 {
  width: 220%;
  border: none;
  margin-top: 1%;
}
.step1-heading {
  color: #ecc1a1;
  text-align: center;
  margin-left: 50%;
  margin-top: -5%;
  font-size: 20px;
}
.step3svg {
  margin-left: -50%;
}
.card-step3 {
  width: 350%;
  border: none;
  margin-top: 66%;
  margin-left: 90%;
}
/* .step3-svg-arrow 
  width: 170%;
  height: 100%;
} */
.step3-heading {
  color: #ecc1a1;
  text-align: center;
  margin-left: 202%;
  margin-top: -14%;
  width: 100%;
  font-size: 20px;
  margin-bottom: -50%;
}
.step4svg {
  margin-left: 170%;
}
