.navabr-section {
  background-color: #f5f1ee;
}

.btn-green {
  background-color: #799779;
  color: white;
}

.nav-logo {
  height: 50px;
  width: auto;
}
.hero-section {
  background-image: url("./../img/hero1.png");
  background-size: cover;
  background-position: center;
  text-align: center; /* Center the content horizontally */
  padding: 100px 0; /* Add some padding for spacing */
  position: relative; /* Required for absolute positioning of child elements */
}

.hero-section-button,
.hero-img-text {
  position: relative; /* Position these elements within the hero section */
  z-index: 1; /* Place them above the background image */
  margin: 0 auto; /* Center horizontally */
  max-width: 80%; /* Limit the width to avoid stretching on larger screens */
}

.hero-section-button {
  background-color: #799779;
  color: white;
  border: none;
  padding: 20px 20px;
  display: inline-block; /* Make the button a block element */
  margin-top: 50px; /* Add some spacing between text and button */
}

.hero-section-button:hover {
  background-color: #5f7f5f; /* Darker color on hover */
}
.hero-heading {
  font-size: 56px;
}
.hero-heading span {
  color: #799779;
}
.hero-img-text {
  font-weight: 500;
  margin-top: 40px; /* Add some spacing between text and button */
}
.svg-container {
  position: relative;
  display: inline-block;
}

.svg-herosection {
  width: 185px;
  height: 85px;
}

.brands-title {
  position: absolute;
  top: 50%;
  left: 19px; /* Adjust the value based on your layout */
  transform: translateY(-50%);
  font-size: 56px;
  color: #799779;
}
.brands4cheap {
  font-size: 54px;
  margin-top: 10px;
}

.main-card-section {
  margin-top: -33px;
}

.wholesale-text {
  color: #799779;
}

.card-title-explore {
  color: #799779;
}

.explore-kgs-txt {
  color: #ecc1a1;
  font-size: 14px;
}

.price-text {
  font-weight: 600;
  font-size: 18px;
}

.ordernow-btn {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #141e15;
}

.card-readmore-text {
  color: #799779;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2px;
}

.navbar-nav .nav-item {
  margin-right: 3rem;
}

.main-card-section .shadow {
  border-radius: 1rem;
}

.explore {
  margin-top: 5rem;
}

.how-its-work {
  margin-top: 4rem;
}

.howItsWorkBg {
  margin-top: 4rem;
  /* background-image: url('../img/how-it-work.png'); */
}

.how-its-work .row h4 {
  font-size: 34px;
  font-weight: 600;
}

.how-its-work .row h4 span {
  color: #799779;
  font-size: 34px;
  font-weight: 600;
}

.howItsWorkBg .card h4 {
  color: #799779;
  font-size: 18px;
  font-weight: 600;
}

.card-placeorder h4 span {
  color: #799779;
  font-size: 34px;
  font-weight: 600;
}

.card-placeorder h4 {
  color: #000;
  font-size: 34px;
  font-weight: 600;
}
.join-telegram {
  background-image: url("../img/bd_group.png");
  background-repeat: no-repeat;
  background-size: 100% 88%;
  margin-top: 5rem;
}

.stylish-man {
  position: relative;
}
.stylish-man img{
  position: absolute;
  top: -68px;
  left: -55px;
  height: 23rem;
}

.telegram-channel {
  padding: 5rem; /* Adjust the padding to your preference */
  box-sizing: border-box; /* Include padding in the element's dimensions */
  color: #f5f1ee; /* Set text color */
}

.telegram-channel h4 span {
  color: #799779;
}

.btn.btn-green {
  background-color: #799779;
  color: #f5f1ee;
  border: none;
}

.btn.btn-green:hover {
  background-color: #5f7f5f;
}

.btn.btn-green {
  background-color: #799779;
  color: #f5f1ee;
  border: none;
}

.btn.btn-green:hover {
  background-color: #5f7f5f;
}

/* .step1-img {
  margin-left: 12%;
  align-self: center;
  margin-top: 4%;
  width: 80%;
  margin-left: 40%;
  height: 80%;
  object-fit: contain;
}*/
.card-steps1 {
  width: 220%;
  border: none;
  margin-top: 1%;
}

.step1-heading {
  color: #ecc1a1;
  text-align: center;
  margin-left: 50%;
  margin-top: -5%;
  font-size: 20px;
}

.step3svg {
  margin-left: -50%;
}

.card-step3 {
  width: 350%;
  border: none;
  margin-top: 66%;
  margin-left: 90%;
}

/* .step3-svg-arrow 
  width: 170%;
  height: 100%;
} */
.step3-heading {
  color: #ecc1a1;
  text-align: center;
  margin-left: 202%;
  margin-top: -14%;
  width: 100%;
  font-size: 20px;
  margin-bottom: -50%;
}

.step4svg {
  margin-left: 170%;
}

.step2-heading {
  text-align: center;
  color: #ecc1a1;
  font-size: 20px;
  margin-top: 18%;
  margin-left: -3%;
}

.step4-heading {
  text-align: center;
  color: #ecc1a1;
  font-size: 20px;
  margin-top: 18%;
  margin-left: -3%;
}

.card-text {
  font-size: 16px;
}

.q1-text {
  font-size: 18px;
  font-weight: 500;
}

.span-q1 {
  color: red;
}

.q1-shippment-yes-button {
  border: 0.5px solid rgb(185, 185, 185);
  cursor: pointer;
  justify-content: center;
  border-radius: 10px;
}

.place-an-order-q1 {
  width: 80%;
}

.q1-shippment-yes-button:hover {
  background-color: #fdf9f6;
  color: #d4ae91;
  border: none;
}

.q1-answer-text {
  font-size: 15px;
  color: #71717a;
  margin-top: 15px;
}

.add-information-heading {
  font-size: 20px;
}

.select-bundle {
  background-color: #f2f5f2;
  padding-top: 2%;
}

.select-bundle-heading {
  font-size: 20px;
  font-weight: 500;
}

.select-bundle-txt {
  font-size: 18px;
}

.select-bundle-txt:checked {
  color: yellowgreen;
}

.form-check-input:checked {
  background-color: #799779;
  border-color: #799779;
}

.form-check-input:checked + label {
  color: #799779;
}

.order-check:checked {
  background-color: #d4ae91;
  border-color: #d4ae91;
}

.drop-quantity {
  color: #000;
  border: 1px solid rgb(205, 205, 205);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: hidden;
  border-width: 0;
}

.dropdown-quantity {
  width: 40%;
}

.totalamount-text {
  font-size: 16px;
}

.btn-flutterwave {
  border: 1px solid black;
  font-weight: 500;
}

.btn-bankaccount {
  background-color: #799779;
  color: #ffff;
}

.btn-bankaccount:hover {
  background-color: #556455;
  color: #ffff;
}

.frequent-question span {
  color: #799779;
}

.frequent-question h4 {
  font-size: 34px;
  font-weight: 600;
}

.faq1 {
  background-color: #f5f1ee;
  padding-left: 2%;
  border-radius: 8px;
  padding-top: 1%;
  padding-right: 2%;
}

.faq1 p {
  font-size: 20px;
  font-weight: 600;
}

.faq1 span {
  color: #000;
}

.btn-contactnow {
  font-size: 17px;
  font-weight: 500;
  background-color: #799779;
  color: white;
  border-radius: 7px;
}

.Newsletter {
  background-color: #141e15;
  padding-top: 3%;
  z-index: 100;
}

.newsletter-heading {
  font-size: 34px;
  font-weight: 600;
  color: #ffff;
}

.newsletter-heading span {
  color: #ecc1a1;
}

.newsletter-text {
  font-size: 15px;
  color: white;
}

.btn-subscribe {
  background-color: #ecc1a1;
  color: #f5f1ee;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}
@media (min-width: 768px) {  
  .entermail {
    width: 230px;
    padding: 9px;
  }
}
.faq1 {
  width: 50%; /* Default width for tablets and laptops */
}

.card-placeorder {
  width: 80%;
  margin-top: 10%;
}

@media (max-width: 768px) {
  .faq1 {
    width: 100%; /* Width for mobile devices */
  }
  .card-placeorder {
    width: 100%;
    margin-top: 10%;
  }
}
.entermail {
  width: 552px;
  padding: 9px;
}
.footer{
  top: -30px;

}
.footermain {
  background-color: #f5f1ee;
  padding-top: 2rem;
}
.footer-text {
  color: #141e15;
}
footer p {
  color: #71717a;
}
footer h5 {
  color: #475c46;
  font-size: 25px;
}
.quick-access-link {
  color: #71717a;
  text-decoration: none;
  font-size: 16px;
}
.copyright {
  color: #141e15;
  font-weight: 600;
  font-size: 16px;
}
